<table>
    <thead>
        <tr>
            <th>Horario</th>
            <th>Segunda-feira</th>
            <th>Terça-feira</th>
            <th>Quarta-feira</th>
            <th>Quinta-feira</th>
            <th>Sexta-Feira</th>
        </tr>
    </thead>
    <tbody>
        <% for horario in 6..22 %>
            <tr>
                <td><%= horario %>:00</td>
                <% for dia in 1..5 %>
                    <td>
                        <% location = Location.reservado(dia, horario) %>
                        <% if location == nil %>
                            <%= form_for Location.new, :remote => true do |f| %>
                                <%= f.hidden_field :day, value: dia %>
                                <%= f.hidden_field :hour, value: horario %>     
                                <%= f.hidden_field :user_id, value: current_user.id %>
                                <%= f.submit  'Reservar' %>
                        
                            <% end %>
                        <% else %>
                            <% if location.user.name == current_user.name %>
                                <span class="user-reserva user-reserva-voce">Você</span>
                            <% else %>
                                <span class="user-reserva"><%= location.user.name %></span>
                            <% end %>
                        <% end %>
                    </td>   
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>




