.header {
    width: 100%;
    padding: 10px;
    background-color: $blue;
    display: inline-block;
    color: #fff;
    .title {float: left;}
    .user {
        float: right;
        > div {
            float: left;
            margin-left: 20px;
        }
    }
    
    a {
        color: #fff;
        text-decoration: underline;
    }
}
