table {
    input[type="submit"] {
        background-color: transparent;
        color: $blue;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .user-reserva {
        font-weight: bold; 
        color: #999;
        &.user-reserva-voce {
            color: #000;
        }
    }
}
