<h1>Login</h1>
    
<% if @session.errors.has_key? :base %>
    <div id="error_explanation">
        <%= @session.errors[:base].join(', ')%>
    </div>
<% end %>
<%= form_for @session do |f| %>
    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label :Senha %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.submit 'Entrar'%>       
    </p>
<% end %>           
    
    
                