<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @location.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @location.hour %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
