<!DOCTYPE html>
<html>
<head>
  <title>Agenda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <header class="header">
        <div class="title">
            <h1>Agenda de sala</h1>
        </div>
        <% if user_signed_in? %>
            <div class="user">
                <div class="email">
                    <span><%= current_user.email %></span>
                </div>
                <div class="sair">
                    <%= link_to "Sair", user_sessions_path,
    :method => :delete %>    
                </div>
            </div>
        <% end %>
    </header>

<%= yield %>

</body>
</html>
